body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/kids_gb.gif");
  background-size: cover;
  display: flex;
  flex-direction: column; /* Change to column */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  /* Remove the margin to prevent any content clipping */
  margin: 0;
}

h1 {
  margin-bottom: 20px; /* Adjust the margin as needed */
  font-size: 150px; /* Adjust the font size as needed */
  text-align: center; /* Center the text */
  color: black;
}
.btn_increase {
  background-color: green;
  color: white;
}

.btn_decrease {
  background-color: red;
  color: white;
}
.btn_increase,
.btn_decrease,
.btn_reset {
  padding: 20px 30px;
  border: 2px solid #0e0c0c;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  align-items: center;
}

.positive-value {
  color: green;
}

.negative-value {
  color: red;
}
